<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Addresses</title>
</head>
<body>
    <h1>Addresses</h1>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/addresses/new}">Add New Address</a>
    <table>
        <thead>
        <tr>
            <th>Street</th>
            <th>City</th>
            <th>ZIP</th>
            <th>Country</th>

            <th sec:authorize="hasRole('ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.street}">Street</td>
            <td th:text="${address.city}">City</td>
            <td th:text="${address.zip}">ZIP</td>
            <td th:text="${address.country}">Country</td>

            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/addresses/edit/{id}(id=${address.id})}">Edit</a>
                <a th:href="@{/addresses/delete/{id}(id=${address.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <p>New address is created by saving newly created (or edited) Club or User entity.</p>
    <br>
    <p>!!! DO NOT DELETE !!!</p>
    <p>The error message indicates a violation of referential integrity constraints when attempting to delete an Address entity that is still referenced by a Club or User entity through the address_id foreign key.
        <br>
        To resolve this issue, you need to ensure that all User entities referencing the Address entity are either deleted or updated to reference a different Address before deleting the Address entity.
    </p>
    <p>The address will be removed if you delete Club or User entity.</p>

<!--    URL redirection - not working - not used-->
    <!-- Link to address form -->
    <!--        <a th:href="@{/addresses/new(returnUrl=${returnUrl})}">Add Address</a>-->
    <!--    <a th:href="@{/addresses/new(returnUrl=${httpServletRequest.requestURI})}">Add Address</a>-->

</body>
</html>