<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Competitions</title>
</head>
<body>
    <h1>Competitions</h1>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/competitions/new}">Add New Competition</a>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Discipline</th>
            <th>Description</th>
            <th>Proposition</th>

            <th>Club</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="competition : ${competitions}">
            <td th:text="${competition.name}">Name</td>

<!--            <td th:text="${competition.date}">Date</td>-->
            <td th:text="${#dates.format(competition.date, 'yyyy-MM-dd')}">Date</td>

            <td th:text="${competition.discipline}">Discipline</td>
            <td th:text="${competition.description}">Description</td>
            <td th:text="${competition.proposition}">Proposition</td>

<!--            Check if the club is not null, if it is not null, display the club name, otherwise display 'No Club'-->
<!--            Club is a property of the competition object. It is a many-to-one relationship.-->
            <td th:text="${competition.club != null ? competition.club.name : 'No Club'}">Club</td>

            <td>
                <a th:href="@{/competitions/detail/{id}(id=${competition.id})}">View Details</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/competitions/edit/{id}(id=${competition.id})}">Edit</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/competitions/delete/{id}(id=${competition.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>