<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<!-- load navigation <nav>...</>nav> from nav.html -->
<div th:replace="nav :: nav"></div>

<main>
    <h1>Home</h1>
    <!-- Content goes here -->
    <h2>Welcome to my app.</h2>
    <p>Use the menu on the left to explore the pages (and data) you are interested in.</p>
</main>
</body>
</html>