<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/new}">Add New User</a>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
            <th>Email</th>
            <th>Phone</th>

            <th>Club</th>

            <th sec:authorize="hasRole('ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.role}">Role</td>

            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>

<!--            <td th:text="${user.birthday}">Birthday</td>-->
            <td th:text="${#dates.format(user.birthday, 'yyyy-MM-dd')}">Birthday</td>

            <td th:text="${user.email}">Email</td>
            <td th:text="${user.phone}">Phone</td>

<!--            Check if the club is not null, if it is not null, display the club name, otherwise display 'No Club'-->
<!--            Club is a property of the user object. It is a many-to-one relationship.-->
            <td th:text="${user.club != null ? user.club.name : 'No Club'}">Club</td>

            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/users/detail/{id}(id=${user.id})}">View Details</a>
                <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
                <a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>